.content {
    width: 150px;
    height: 130px;
    display: flex;
    background: #ffffff;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.7;
    flex-direction: column;
    text-align: center;
    position: absolute;
}
.content:hover{
    opacity: 0.9;
}
.menu-item{
    height: 300px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    box-shadow: inset 0 0 0 2000px rgb(136 136 136 / 29%);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

}
.background-image:hover{
    transform: scale(1.03);
    transition: all .5s;

}
.background-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.imageTitle{
    margin-bottom: 2px;
    margin-top: 0;
}

.large{
    height: 380px;
}