.card-dropdown{
    width: 240px;
    position: absolute;
    height: 340px;
    display: flex;
    padding: 20px;
    background-color: white;
    top: 65px;
    z-index: 5;
}
.justify{
    display: flex;
    justify-content: flex-end!important;
}
.cart-items{
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
button{
    margin-top: auto;
}